    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
        ViewData["Title"] = "Matthew Davies";
        ViewData["Header"] = "Home";
    }


<nav>
    <a asp-controller="blah" asp-action="Index">Home </a>
    <a asp-controller="blah" asp-action="Grade">Calc Grade</a>
</nav>



<section class="page-section clearfix">


    <div class="container">
        <div class="intro">
            <!--This is my perferred name and my hopes for is 413-->
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../img/TheGoat.jpg" alt="../img/TheGoat.jpg" />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">

                <h2 class="section-heading mb-4">
                    <!--All the section heading uppers are changed fonts-->
                    <span class="section-heading-upper sanserif">Preferred Name</span>
                    <!--All the section heading lower are italics-->
                    <span class="section-heading-lower italic">Matthew Davies</span>
                </h2>
                <!--I changed the font so that it is oblique most of the text in this page is overridden to do that.-->
                <p class="mb-3 oblique">
                    In IS 413, I hope to gain a comprehensive understanding of information systems and how they can be leveraged to improve business processes and drive organizational success. I am particularly interested in learning about the different technologies and methodologies used in the field, as well as how to effectively analyze and evaluate systems to determine their potential impact on a business. I also hope to develop the practical skills necessary to design and implement effective information systems, and to effectively communicate with both technical and non-technical stakeholders about the benefits and limitations of these systems. Overall, I aim to leave this course with a strong foundation in information systems and the ability to apply what I have learned to real-world business challenges.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-section clearfix">
    <div class="container">
        <div class="row">

            <!--These are the three jobs that I am most interesting in pursuing-->
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <div>
                    <p class="mb-3 oblique">
                        <h3>Some job titles that I would like to pursue are </h3>
                        <ul>
                            <li>Information Security Engineer</li>
                            <li>Ethical Hacker</li>
                            <li>Chief Information Security Officer</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



